@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ABCMaxiPlusVariable-Trial" !important;
  src: local("ABCMaxiPlusVariable-Trial"),
    url("./assets/fonts/ABCMaxiPlusVariable-Trial.ttf") format("truetypeface");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "ABCMaxiPlusVariable-Trial", sans-serif !important;
}

body {
  margin: 0;
  padding: 0; /* Add padding reset */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191a1a;
}

/* Sliders */
.slider-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 1px solid #ff2d92bf;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.slider-track {
  position: relative;
  background: #eaecf0;
  border-radius: 999px;
}

.slider-track.slider-track-0 {
  background: #ff2d92bf;
}

.horizontal-slider .slider-track {
  height: 6px;
}

.horizontal-slider .slider-thumb {
  bottom: -5px;
  width: 16px;
  outline: none;
  height: 16px;
  line-height: 38px;
}
/* Overide Prime React Component */

.custom-progress-bar
  .p-progressbar-indeterminate-container
  .p-progressbar-value-animate {
  background-color: #ff2d92 !important; /* Sets the base color */
  background-image: linear-gradient(
    to right,
    #ff2d92 50%,
    transparent 50%
  ) !important;
  background-size: 200% 100%;
  animation: moveAnimation 2s linear infinite;
}

@keyframes moveAnimation {
  from {
    background-position: 100% center;
  }
  to {
    background-position: 0 center;
  }
}

/* loader css  */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #2d2d2d #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

/* up down arrow of stl viewer */

.custom-prev-arrow,
.custom-next-arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-up-arrow {
  background-image: url("/public/up.svg");
}

.bg-up-arrow:hover {
  background-image: url("/public/Up-onHover.svg");
  cursor: pointer;
}

.bg-down-arrow {
  background-image: url("/public/down.svg");
}

.bg-down-arrow:hover {
  background-image: url("/public/Down-onHover.svg");
  cursor: pointer;
}

.stl-viewer-class {
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
  z-index: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar thumb for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Sliders  in filter component*/
.slider-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 1px solid #ff2d92bf;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.slider-track {
  position: relative;
  background: #eaecf0;
  border-radius: 999px;
}

.slider-track.slider-track-0 {
  /* background: #ff2d92bf; */
  background-color: #ff2d92bf;
}

.horizontal-slider .slider-track {
  height: 3px;
}

.horizontal-slider .slider-thumb {
  bottom: -4px;
  width: 13px;
  outline: none;
  height: 12px;
  line-height: 38px;
}

/* input number  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Download button icon css */
.custom-button {
  background: none;
  border: none;
  padding: 8px;
  position: relative;
  width: 46px;
  height: 47px;
  cursor: default;
}

.custom-button .hover-svg {
  display: none;
}

.custom-button:hover .normal-svg {
  display: none;
}

.custom-button:hover .hover-svg {
  display: inline;
}
