@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-prev-arrow,
.custom-next-arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-up-arrow {
  background-image: url("/public/up.svg");
}

.bg-up-arrow:hover {
  background-image: url("/public/Up-onHover.svg");
  cursor: pointer;
}

.bg-down-arrow {
  background-image: url("/public/down.svg");
}

.bg-down-arrow:hover {
  background-image: url("/public/Down-onHover.svg");
  cursor: pointer;
}

.stl-viewer-class {
  width: 100% !important;
  height: 100% !important;
  max-height: 85% !important;
  max-width: 85% !important;
  z-index: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar thumb for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Sliders  in filter component*/
.slider-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 1px solid #ff2d92bf;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.slider-track {
  position: relative;
  background: #eaecf0;
  border-radius: 999px;
}

.slider-track.slider-track-0 {
  /* background: #ff2d92bf; */
  background-color: #ff2d92bf;
}

.horizontal-slider .slider-track {
  height: 3px;
}

.horizontal-slider .slider-thumb {
  bottom: -4px;
  width: 13px;
  outline: none;
  height: 12px;
  line-height: 38px;
}
